.navbar {
    position: fixed;
    background-color: transparent;
}

.nav {
    position: fixed;
}

.custom-pane {
    background-color: black;
    color: red;
    padding: 20px;
    z-index: 1;
    width: 500px;
    /* Adjust the width as needed */
}

.custom-pane a {
    color: white;
    text-decoration: none;
}

.slidediv {
    height: 50px;
    color: white;
    text-align: right;
    margin-top: 10px;
}

.slidediv:hover {
    border: 1px solid red;
}